.todo-block .todo-list {
    color: darkblue;
}

.todo-block .todo-list .template {
    display: none;
}

.todo-block .todo-list li {
    display: block;
    vertical-align: middle;
}

.todo-block .todo-list li label {
    display: inline-block;
}

.todo-block .todo-list li label span {
    margin-left: 5px;
}

.todo-block .todo-list li input[type="button"] {
    background-color: #eee;
    border: 0 none;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}